<a href="https://colab.research.google.com/github/Varun-Mulchandani/roBERTa_based_SQuAD_QA/blob/master/SQuAD_understanding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Understanding the SQuAD dataset for Question and Answering:

In [1]:
import json
import pandas as pd

The SQuAD dataset is in a json file:

In [ ]:
f = open('dev-v2.0.json') #testing

In [63]:
f = open('../final/dataset/resultTotal.json') #training

In [11]:
data = json.load(f)

Creating lists which we will add to out dataset:

In [12]:
titles = []
contexts = []
questions = []
ids =[]
answers = []
answer_start = []
is_impossible = []
for i in data['data']:
  title = i['title']
  for j in i['paragraphs']:
    context = j['context']
    for k in j['qas']:
      question = k['question']
      id_ = k['id']
      is_impossible_ = k['is_impossible']
      for l in k['answers']:
        titles.append(title)
        contexts.append(context)
        questions.append(question)
        ids.append(id_)
        answers.append(l['text'])
        answer_start.append(l['answer_start'])
        is_impossible.append(is_impossible_)

Considering the importance of the 'is_impossible' attribute:

In [13]:
for i in is_impossible:
  if i == 'True':
    print('h')

In [14]:
train = pd.DataFrame({'title':titles, 'question':questions, 'id':ids, 'answers':answers, 'answer_start':answer_start ,'context':contexts})

In [15]:
train.head()

,title,question,id,answers,answer_start,context
0,Normans,In what country is Normandy located?,56ddde6b9a695914005b9628,France,159,The Normans (Norman: Nourmands; French: Norman...
1,Normans,In what country is Normandy located?,56ddde6b9a695914005b9628,France,159,The Normans (Norman: Nourmands; French: Norman...
2,Normans,In what country is Normandy located?,56ddde6b9a695914005b9628,France,159,The Normans (Norman: Nourmands; French: Norman...
3,Normans,In what country is Normandy located?,56ddde6b9a695914005b9628,France,159,The Normans (Norman: Nourmands; French: Norman...
4,Normans,When were the Normans in Normandy?,56ddde6b9a695914005b9629,10th and 11th centuries,94,The Normans (Norman: Nourmands; French: Norman...

In [ ]:
train.to_csv('train.csv')

Getting the testing data

In [21]:
from sklearn.model_selection import train_test_split

training_data, testing_data = train_test_split(train, test_size=0.0049, random_state=25)

In [22]:
testing_data.shape

(100, 6)

In [23]:
testing_data.to_csv('test_100.csv')